.wm-toc-li-nested.wm-page-toc {
	border-left: 1px solid #b99128 !important;
}

.wm-toctree a, .wm-toctree a:visited, .wm-toctree a:hover, .wm-toctree a:focus {
	color: #b99128 !important;
	text-decoration: none;
	outline: none;
}
.wm-toc-li.wm-current, .wm-toc-li.wm-current:hover {
	background-color: #282C34 !important;
	color: #21252B;
}

h1,h2,.wm-toc-text,#wm-search-go,button {
  color: #b99128 !important;
};

button, .btn, .btn-sm, .btn-xs, .btn-default, #hist-fwd, #hist-back, #wm-toc-button, #wm-search-go {
  color: #b99128 !important;
}

button:focus, .btn:focus, .btn-sm:focus, .btn-xs:focus, .btn-default:focus, .btn-link:focus, #hist-fwd:focus, #hist-back:focus, #wm-toc-button:focus, #wm-search-go:focus {
  background-color: #2C313A;
  border-color: #b99128 !important;
  }
  
  button:hover, .btn:hover, .btn-sm:hover, .btn-xs:hover, .btn-default:hover, .btn-link:hover, #hist-fwd:hover, #hist-back:hover, #wm-toc-button:hover, #wm-search-go:hover {
  background-color: #2C313A;
  border-color: #b99128;
  } 
  .wm-top-version {
    border: 1px solid #b99128;
    border-radius: 3px;
    padding: 0px 5px;
    color: #b99128;
    font-size: 8pt;
}